body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(43, 175, 153);
    width: 100%;
    height: 100px;
    align-items: center;
    font-size: 40px;
    color: white;
    font-weight: 700;

}

.title {
    margin-left: 20px;
}

.logIn {
    color: white;
    font-size: 20px;
    margin-right: 20px;
    border: none;
    border-radius: 12px;
    padding: 10px;
    background-color: rgb(120, 185, 174);
    font-weight: bold;
}

.library {
    display: flex;
    padding: 20px;
    gap: 30px;
    flex-wrap: wrap;
}

.library > .card, .addNew {
    border: 1px dotted;
    width: 200px;
    height: 200px;
    /* box-shadow:  */
    text-align: center;
    padding-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

.readDisplay:hover {
    background-color: green;
}

.readDisplay:focus{
    color: green;
}

.card {
    display: flex;
    flex-direction: column;
}

.remove:hover {
    background-color: red;
}